*{border-radius:7px;}
.signupform{
    width:400px;
    margin:auto;
}
.imgcontainer{
    text-align:center;
    margin:24px 0 12px 0;
    position:relative;
}
img.avatar{
    width:20%;
    border-radius:50%;
}
.container{
    padding:16px;
}
.container label{
    font-size:20px;
}
span.psw{
    float:right;
    padding-top:16px;
}
/* style input fields*/
input[type=email], input[type=password]{
    width:100%;
    padding:12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #2b00ff;
    box-sizing: border-box;
}
/*style for button*/
button{
    background-color:blue;
    color:white;
    padding:14px 20px;
    margin: 8px 0;
    border:none;
    cursor:pointer;
    width:100%;
}